#body {
  height: 100%;
  overflow: hidden;
}

#board1 {
  width: 500px;
  border: 9px solid;
  padding: 0;
}
@media (max-width: 500px) {
  #board1 {
    width: 300px;
    /* border: 9px solid red; */
  }
}

#non-react {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
